* {
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

article {
    display: flex;
    align-items: center;
}

article div{
    padding: 2.5%;
    width: 10%;
    display: flex;
    justify-content: left;
    margin-left: auto;
    background-color: rgba(138, 138, 138, 0.9);
    border-radius: 10px;
}

article div img{
    margin-right: 5%;
    width: 25%;
}
article div p {
    display: flex;
    align-items: center;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin: 3% 0 3% 0;
    width: 100%;
    font-weight: bold;
}

header form {
    padding: 2%;
    background-color: rgba(138, 138, 138, 0.9);
    border-radius: 10px;
    margin: auto;
    width: 75%;
    text-align: center;
}

header form input {
    padding: 0.25%;
}

header form select {
    padding: 0.25%;
    margin: 0 4% 0 4%;
}

table {
    margin: 0 auto 5% auto;
    border: 1px solid black;
    background-color: black;
}

table tr td {
    width: 50px;
    height: 50px;
    text-align: center;
}

h1 {
    text-align: center;
}

.casilla {
    background-color: rgb(128, 128, 128);
}

.vacio {
    background-color: rgb(180, 180, 180);
}

.green {
    color: rgb(0, 128, 0);
    background-color: rgba(0, 128, 0, 0.5);
}

.yellow {
    color: rgb(255, 255, 0);
    background-color: rgba(255, 255, 0, 0.5);
}

.orange {
    color: rgb(255, 165, 0);
    background-color: rgba(255, 165, 0, 0.5);
}

.red {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.5);
}

.bomb {
    background-image: url("../images/bomb-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.flag {
    background-image: url("../images/flag-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.invisible {
    display: none;
}